// Layout -> Regras gerais de layout, como modificar um .container para todo o projeto.

// Navbar
.nav-link {
	font-weight: 600;
}

// Header
header {
	background-image: url("/images/bg-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-top: 61px;

  .logo-header {
    display: flex;

    img {
      width: 100%;
      margin: auto;
      @include media-breakpoint-down(md)  {
        display: none;
      }
    }
  }

  .box-header {
    color: white;
    p {
      font-size: 1.5rem;
    }
    h1 {
      font-size: 5rem;
    }

    @include media-breakpoint-down(md)  {
      width: 100%;      
      h1 {
        display: none;
      }
    }

    div {
      width: 80%;
      background-color: rgba($primary, .8);
      padding: 3rem 0;
      margin: 5rem auto;
      img {
        display: none;
      }      
      @include media-breakpoint-down(md)  {
        img {
          display: block;
          width: 100%;
          padding: 0 2rem;
        }
        margin: 3rem 0;
      }
      text-align: center;

      @include media-breakpoint-down(md)  {
        width: 100%;
        p {
          &:nth-child(2) {
            display: none;
          }

          &:last-child {
            font-size: 1.3rem;
          }          
        }
      }

      .linha-header {
        display: block;
        margin: 0 auto;
        width: 40%;
        border-top: 1px solid white;
      }
    }
  }
}

.programacao {
  padding-top: 4rem;
  padding-bottom: 4rem;

  h1, h2, h3 {
    color: $primary;
  }

  .palestra {
    padding-left: 2rem;
    border-left: 2px solid $primary;
    margin-bottom: 3rem;
    h2 {
      font-family: $font-horario;
    }
    p {
      color: $primary;
    }
  }
}
